@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Raleway:wght@500;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 10vh;
}
.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.container .title img {
  width: 30%;
}
.container .title h1 {
  font-weight: 900;
  font-size: 1.375rem;
}
.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.container .header .icon .fa-bars {
  font-size: 2rem;
  color: #4BA87D;
}
.container .header #myLinks {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.containerFooter .title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vh 0 8vh 0;
}
.containerFooter .title h1 {
  font-weight: 900;
  font-size: 1.375rem;
}
.containerFooter .title img {
  width: 25%;
}
.containerFooter .content .col ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}
.containerFooter .content .col ul li {
  margin-bottom: 1vh;
  font-weight: 700;
}
.containerFooter .footer {
  border-top: grey 1px solid;
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
}
.containerFooter .footer p {
  margin-bottom: 2vh;
}
.containerFooter .footer .containerFooter {
  display: flex;
  flex-direction: column;
}

h1, p, a, li, h4 {
  font-family: "Raleway", sans-serif;
}

h2, h3 {
  font-family: "Playfair Display", serif;
}

.width {
  width: 75%;
  margin: auto;
}

main .emailCampaigns {
  width: 95%;
  margin: auto;
  padding-bottom: 10vh;
}
main .emailCampaigns .background {
  background-image: url("assets/img/img2.png");
  background-size: cover;
  background-position: center;
  height: 24vh;
}
main .emailCampaigns .left {
  position: relative;
  bottom: 220px;
  left: 0;
  width: 100%;
  margin-bottom: -30vh;
}
main .emailCampaigns .left h2 {
  text-transform: capitalize;
  font-size: 2.55rem;
  width: 92%;
}
main .emailCampaigns .left h2 span {
  padding-right: 1vw;
}
main .emailCampaigns .left p {
  padding: 4vh 0;
  font-size: 1.08rem;
}
main .emailCampaigns .left .buttons a {
  text-align: center;
  width: 45%;
  padding: 1.5vh 0;
  display: block;
  border: 3px solid #4BA87D;
  background-color: #4BA87D;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.65px;
}
main .emailCampaigns .left .buttons a:nth-child(2) {
  background-color: white;
  color: #4BA87D;
}
main .moreCustomers {
  width: 95%;
  margin: auto;
  background-image: url("assets/img/img3.png");
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .moreCustomers h3 {
  color: white;
  font-size: 1.65rem;
  text-transform: capitalize;
  padding-bottom: 5vh;
}
main .moreCustomers a {
  color: #4BA87D;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  background-color: white;
  padding: 2vh 3vh;
}
main .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 10vh 0;
}
main .cards .card {
  width: 65%;
  margin: auto;
  margin-bottom: 3vh;
  box-shadow: 0px 3px 8px 3px rgba(153, 153, 153, 0.18);
}
main .cards .card img {
  max-width: 100%;
}
main .cards .card .content {
  padding: 3vh;
}
main .cards .card .content p {
  padding-bottom: 2vh;
  font-size: 0.95rem;
}
main .cards .card .content a {
  color: #4BA87D;
  text-decoration: none;
  font-weight: 900;
}
main .cards .card .content a .fa-chevron-right {
  font-size: 0.8rem;
  font-weight: 900;
}
main .cards .content {
  width: 75%;
}
main .cards .content h3 {
  font-size: 2.2rem;
  margin-bottom: 3.5vh;
}
main .cards .content p {
  width: 90%;
}
main .member .imgCards1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5074404762) 0%, rgba(0, 0, 0, 0.2525385154) 25%, rgba(0, 0, 0, 0.0508578431) 50%), url("assets/img/img6.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 4vh;
  height: 25vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 3vh;
}
main .member .imgCards1 div h4 {
  font-size: 1.7rem;
  color: white;
  font-weight: 900;
  margin-bottom: 1vh;
}
main .member .imgCards1 div p {
  color: white;
  font-weight: 600;
}
main .member .imgCards2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5074404762) 0%, rgba(0, 0, 0, 0.2525385154) 25%, rgba(0, 0, 0, 0.0508578431) 50%), url("assets/img/img7.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 4vh;
  height: 25vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 3vh;
}
main .member .imgCards2 div h4 {
  font-size: 1.7rem;
  color: white;
  font-weight: 900;
  margin-bottom: 1vh;
}
main .member .imgCards2 div p {
  color: white;
  font-weight: 600;
}
main .member .imgCards3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5074404762) 0%, rgba(0, 0, 0, 0.2525385154) 25%, rgba(0, 0, 0, 0.0508578431) 50%), url("assets/img/img8.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 4vh;
  height: 25vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 3vh;
}
main .member .imgCards3 div h4 {
  font-size: 1.7rem;
  color: white;
  font-weight: 900;
  margin-bottom: 1vh;
}
main .member .imgCards3 div p {
  color: white;
  font-weight: 600;
}
main .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
main .email h3 {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 3vh;
}
main .email input {
  border: 2px solid #DEDEDE;
  border-radius: 5px;
  padding: 3vw;
  width: 80%;
  margin: auto;
  font-size: 1.1rem;
}
main .email a {
  text-align: center;
  width: 45%;
  padding: 1.5vh 5vw;
  display: block;
  border: 3px solid #4BA87D;
  background-color: #4BA87D;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.65px;
}
main .email #received1 {
  color: #4BA87D;
  margin: 1.5vh 0;
}
main .email #received2 {
  display: none;
}
main .brands {
  margin-bottom: 8vh;
}
main .brands h3 {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 5vh;
}
main .brands .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .brands .img .row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;
  margin-bottom: 5vh;
}
main .brands .img .row1 img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .brands .img .row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 5vh;
}
main .brands .img .row2 img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .plan {
  background-color: #4BA87D;
}
main .plan .content {
  width: 80%;
  margin: auto;
  padding: 7vh 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .plan .content h2 {
  color: white;
  font-size: 2.55rem;
  margin-bottom: 7vh;
}
main .plan .content a {
  text-align: center;
  width: 45%;
  padding: 2vh 2vw;
  display: block;
  background-color: white;
  color: #4BA87D;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.65px;
}

@media only screen and (min-width: 768px) {
  header {
    width: 90%;
    margin: auto;
  }
  header .container {
    width: auto;
  }
  header .container .title {
    width: 23%;
  }
  header .container .title h1 {
    font-size: 2.375rem;
  }
  header .container .header {
    width: 60%;
  }
  header .container .header .icon {
    display: none;
  }
  header .container .header #myLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .header #myLinks a {
    position: relative;
    color: black;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.825px;
  }
  header .container .header #myLinks a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #4BA87D;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  header .container .header #myLinks a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  header .container .header #myLinks .signUp {
    text-align: center;
    padding: 1vh 1vw;
    display: block;
    border: 3px solid #4BA87D;
    background-color: #4BA87D;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.65px;
  }
  main .emailCampaigns {
    position: relative;
    width: 85%;
    padding-bottom: 60vh;
  }
  main .emailCampaigns .background {
    z-index: 1;
    height: 50vh;
    width: 60%;
    float: right;
    box-shadow: 0px 3px 8px 3px rgba(153, 153, 153, 0.18);
  }
  main .emailCampaigns .left {
    position: absolute;
    width: 55%;
    top: 35px;
    left: 0;
  }
  main .emailCampaigns .left .buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  main .emailCampaigns .left .buttons a {
    font-size: 1.5rem;
    padding: 2.5vh 0;
  }
  main .emailCampaigns .left h2 {
    text-transform: capitalize;
    font-size: 3.55rem;
    width: 100%;
  }
  main .emailCampaigns .left p {
    font-size: 1.3rem;
    padding: 6vh 0;
    width: 82%;
  }
  main .moreCustomers {
    width: 80%;
    height: 75vh;
  }
  main .moreCustomers h3 {
    font-size: 3.65rem;
    padding-bottom: 10vh;
  }
  main .moreCustomers a {
    padding: 3vh 7vh;
    font-size: 1.5rem;
  }
  main .cards {
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 13vh 0;
  }
  main .cards .card {
    width: 30%;
    margin: 0;
  }
  main .cards .card img {
    width: 100%;
  }
  main .cards .card .content {
    width: 100%;
  }
  main .cards .card .content p {
    font-size: 1.2rem;
  }
  main .cards .content {
    width: 33%;
  }
  main .cards .content h3 {
    font-size: 2.9rem;
  }
  main .cards .content p {
    font-size: 1.5rem;
  }
  main .brands {
    width: 100%;
    margin: auto;
  }
  main .brands .img {
    width: 100%;
    flex-direction: row;
  }
  main .member {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  main .member .imgCards1 {
    margin: 0;
    width: 27%;
  }
  main .member .imgCards2 {
    margin: 0;
    width: 27%;
  }
  main .member .imgCards3 {
    margin: 0;
    width: 27%;
  }
  main .email {
    margin-top: 7vh;
  }
  main .email h3 {
    font-size: 2.9rem;
    padding-bottom: 3vh;
  }
  main .email .form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
  }
  main .email .form input {
    padding: 2vw;
    width: 55%;
    font-size: 1.3rem;
    margin: 0;
  }
  main .email .form a {
    width: 30%;
    padding: 3.5vh 1vw;
    display: block;
    font-size: 1.3rem;
    cursor: pointer;
  }
  main .email .form #received2 {
    display: block;
    color: #4BA87D;
    margin: 1.5vh 0;
    font-size: 1.3rem;
  }
  main .email .form #received1 {
    display: none;
  }
  main .brands {
    padding: 10vh 0;
  }
  main .brands h3 {
    font-size: 2.9rem;
    padding-bottom: 3vh;
  }
  main .brands .img {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  main .brands .img .row1 {
    width: 30%;
    margin: 0;
  }
  main .brands .img .row2 {
    width: 40%;
    margin: 0;
  }
  main .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }
  main .plan .content h2 {
    font-size: 4.55rem;
  }
  main .plan .content a {
    width: 20%;
    padding: 3vh 2vh;
    font-size: 1.5rem;
  }
  footer .parent {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vh 0 5vh 0;
  }
  footer .parent .title {
    padding: 0;
  }
  footer .parent .content {
    width: 65%;
    display: flex;
    justify-content: space-between;
  }
  footer .parent .content .col ul {
    display: flex;
    align-items: start;
    font-weight: 900;
  }
  footer .footer {
    flex-direction: row;
    width: 95%;
  }
  footer .footer .containerFooter {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    width: 80%;
  }
  header .container .title {
    width: 17%;
  }
  header .container .title img {
    width: 30%;
  }
  header .container .header {
    width: 55%;
  }
  main .emailCampaigns {
    width: 70%;
  }
  main .emailCampaigns .left {
    width: 45%;
  }
  main .moreCustomers {
    width: 60%;
    height: 69vh;
  }
  main .cards {
    width: 70%;
  }
  main .cards .card {
    width: 27%;
  }
  main .member {
    width: 70%;
  }
  main .email {
    width: 70%;
  }
  main .email h3 {
    width: 70%;
  }
  main .email .form {
    width: 53%;
  }
  main .email .form input {
    padding: 1vw;
    width: 57%;
  }
  main .email .form a {
    width: 27%;
    padding: 2vh 1vw;
  }
  main .email .form #received2 {
    padding-left: 2.4vh;
  }
  main .brands h3 {
    width: 25%;
    margin: auto;
  }
  main .brands .img {
    width: 65%;
  }
  main .brands .img .row2 {
    width: 38%;
  }
  footer {
    width: 75%;
    margin: auto;
  }
  footer .parent .title {
    width: 20%;
  }
  footer .parent .title h1 {
    font-size: 2rem;
  }
  footer .parent .content {
    width: 55%;
  }
  footer .footer {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */